body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 300px;
    /*  border: 4px solid rebeccapurple;*/
    background-color: #17181a;
    border-radius: 40px;
}

.space {
    width: 100%;
    height: 120px;
    /* border: 2px solid hotpink;*/
}

.button {
    width: 100%;
    height: 340px;
    /* border: 2px solid magenta;*/
    display: flex;
    margin-left: 8px;
    gap: 15px;
    flex-wrap: wrap;
}

.button button {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    font-size: 25px;
    color: #43bdff;
    background-color: #2e3138;
    border: 1px;
}

.button button:hover {
    background-color: #525353;
}
.button .equal {
    width: 100px;
}